@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-gradient-to-r from-lightGreen to-lightCyan rounded-full py-3 px-4 text-lightWhite transition-opacity duration-500 ease-in-out hover:opacity-75
}

body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  background-color: hsl(0, 0%, 98%);
}
img{
  max-width: 100%;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }