@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-gradient-to-r from-lightGreen to-lightCyan text-sm font-medium rounded-full py-2.5 px-8 text-lightWhite transition-opacity duration-500 ease-in-out hover:opacity-75
}

body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  background-color: hsl(0, 0%, 98%);
  overflow-x: hidden;
}
img{
  max-width: 100%;
}
nav{
  @apply absolute -left-full transition-colors duration-300 ease-in-out lg:left-0 lg:relative
}
nav.open{
  @apply absolute top-20 left-auto bg-white w-11/12 p-8 rounded-lg z-50 lg:relative lg:top-0 lg:left-0 lg:bg-transparent lg:w-auto lg:rounded-none lg:p-0;
  box-shadow: -27px 102px 150px 44px rgba(0,0,0,0.79);
}
@media (min-width: 1024px) {
  nav.open{
    box-shadow: none;
  }
  
}
nav ul{
  @apply flex flex-col justify-between items-center gap-6  text-slate-500 lg:flex-row lg:gap-8;
}

nav ul li a{
  @apply lg:text-slate-900 lg:opacity-50 lg:text-sm hover:opacity-100;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }